/*fonts*/
@font-face {
    font-family: "Sublima";
    src: url("/fonts/Sublima.otf");
}
@font-face {
    font-family: "Minecraft";
    src: url("/fonts/Minecraft.otf");
}

* {
    text-decoration: none;
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    /*background-position: center;
    background-image: url(img/background.jpg);
    background-size: contain;*/
    background-image: url("/images/background.png");
    min-height: 100vh;
}
::selection, ::-moz-selection {
    color: rgb(0,128,255);
    background-color: rgba(128,0,255,0.7)
}

a {
    color: rgb(0,128,255);
}
h1 {
    text-align: center;
    color: rgb(0,128,255);
    font-family: Sublima;
    font-weight: 1000;
    font-size: 80px;

    text-shadow: 5px 5px 0 rgb(0,64,128);
}
p {
    text-align: center;
    color: white;
    font-family: Sublima;
    font-weight: 500;
    font-size: 40px;
}
button {
    text-align: center;
    color: white;
    font-family: Sublima;
    font-weight: 500;
    font-size: 20px;
    border: 0;
    width: 60ex;
    height: 2em;
    user-select: none;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 15px;
    background: rgba(128,0,255,0.7);

    transition: font-size 0.1s, height 0.1s, background 0.2s;
}
button:hover {
    height: 2.1em;
    font-size: 25px;
    background: linear-gradient(90deg, rgba(128,0,255,0.7), rgba(168,40,255,0.7), rgba(128,0,255,0.7));
    
    animation: backgroundloop;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    transition: font-size 0.1s, height 0.1s, background 0.2s;
}
button:active {
    background: rgba(168,40,255,0.7);

    transition: font-size 0.1s, height 0.1s, background 0.2s;
}

#fourOfour {
    font-size: 100px;
    letter-spacing: 10vw;
    text-indent: 10vw;
}